<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference: Alphabetical listing</title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1>Alphabetical listing of glyphs</h1>

      <div id="alpha">
        <% @glyphs.each do |glyph| %>
          <a href="/glyphs/<%= glyph %>">
            <div class="glyph-container">
              <div class="glyph" data-name="<%= glyph %>"></div><br>
              <span class="glyph-name"><%= glyph.downcase %></span>
            </div>
          </a>
        <% end %>
      </div>
    </div>

  </body>
</html>