<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference</title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1>Somerian&rsquo;s Glyph Reference</h1>

      <ul>
        <li><a href="/glyphs">Alphabetical listing</a>
        <li><a href="/shapes">Shape index</a>
        <li><a href="/semantic">Semantic associations</a>
        <li><a href="/segments">Number of segments</a>
        <li><a href="/phrases">Phrases by length</a>
        <li><a href="/singletons">Singletons</a>
        <li><a href="/unseen">Unseen glyphs</a>
      </ul>

    </div>
  </body>
</html>
