<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>Glyph Reference: Semantic associations</title>
    <%= erb :header %>
  </head>
  <body>

    <div id="content">
      <h1>Semantic associations</h1>

      Glyphs can be grouped by semantic association, and their shapes and positions are often
      correlated with their meaning.  This page details some of those associations in the hopes
      that they will help you memorize the glyphs more readily.

      <p>Contents:

      <%= @toc %>

      <%= @contents %>
    </div>
  </body>
</html>