<html>

<head>
<link rel="stylesheet" type="text/css" href="lib/css/jquery.svg.css"> 
<script type="text/javascript" src="lib/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="lib/js/jquery.svg.js"></script>

<link rel="stylesheet" type="text/css" href="css/glyphs.css">
<script type="text/javascript" src="js/glyphs.js"></script>
</head>
<body>

<div id="past"></div>
<div id="chaos"></div>
<div id="create"></div>
<div id="future"></div>
<div id="harmony"></div>

</body>
</html>