<html>

<head>
<link rel="stylesheet" type="text/css" href="lib/css/jquery.svg.css"> 
<script type="text/javascript" src="lib/js/jquery-1.11.2.js"></script>
<script type="text/javascript" src="lib/js/jquery.svg.js"></script>

<link rel="stylesheet" type="text/css" href="css/glyphs.css">
<script type="text/javascript" src="js/shapes.js"></script>
<script type="text/javascript" src="js/glyphs.js"></script>
</head>
<body>

<% @glyphs.each do |glyph| %>
<div class="glyph" data-name="<%= glyph %>"></div>
<% end %>

</body>
</html>