<html>

  <head>
    <title>Test page containing all glyphs</title>
    <%= erb :header %>
  </head>
  <body>

    <% @glyphs.each do |glyph| %>
    <a href="/glyphs/<%= glyph %>">
    <div class="glyph" data-name="<%= glyph %>"></div>
    </a>
    <% end %>

  </body>
</html>
