
.glyph {
    width: 100px;
    height: 100px;
}

.glyph.head {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

.mini-glyph {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

body {
    font-family: 'Georgia', serif;
    font-size: 18;
}

h1 {
    text-align: center;
}

.glyph-name {
    font-variant: small-caps;
}

.category {
    font-variant: small-caps;
}

a:link {
    text-decoration: none;
}

.glyph-link {
    white-space: nowrap;
}

li {
    margin-bottom: 0.5em;
}

/* Alphabetical listing */

#alpha {
    text-align: center;
}

.glyph-container {
    text-align: center;
    display: inline-block;
    padding: 10px;
}

.glyph-container .glyph {
    display: inline-block;
}

.glyph-container .glyph-name {
    padding: 5px;
}

/* Adjust content for mobile devices */
@media only screen and (max-device-width: 480px) {
    body {
        padding: 10px;
        font-size: 100%;
    }

    h1 {
        font-size: 450%;
    }

    h2 {
        font-size: 300%;
    }

    p {
        font-size: 300%;
    }

    #desc {
        font-size: 100%;
    }

    .glyph {
        width: 200px;
        height: 200px;
    }

    .glyph.head {
        width: 600px;
        height: 600px;
    }

    .mini-glyph {
        width: 60px;
        height: 60px;
    }

    .glyph-container .glyph-name {
        font-size: 300%;
    }
}


/* Adjust content for normal monitors and iPads */
@media only screen and (min-width : 1224px),
        only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    #content {
        width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px 10px white;
    }

    body {
        background-color: black;
        padding-top: 10px;
    }
}

