.glyph {
    width: 100px;
    height: 100px;
    display: inline-block;
}

.glyph.head {
    width: 200px;
    height: 200px;
    display: inline-block;
}

.mini-glyph {
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
}

body {
    font-family: 'Roboto Slab', serif;
    font-size: 18;
}

.glyph-name {
    font-variant: small-caps;
}

.category {
    font-variant: small-caps;
}

a:link {
    text-decoration: none;
}
