<!-- Descriptions used in each glyph's main entry page. -->

#accept

A triangle with the point down, in the same direction as :self.

#not

Derived from the symbol for the &ldquo;not&rdquo; operator from Boolean algebra (&not;).

#simple

A single short line in contrast to the zigzag of :complex.

#complex

A zigzag in contrast to the single line of :simple.

#imperfect

This glyph is derived from the perfect bowtie of :truth, with two segments missing.

<p>Note that :imperfect can be impossible to draw correctly without realizing that
there's a hidden fifth segment between the top right and bottom left.  For more
information please refer to <a href="https://plus.google.com/+ErinTurowski/posts/J2UP5bYo9Ey">this Google Plus post</a>.

#path

A bent line representing a possibly circuitous path.  A mirror image of it
along the outer hexagon of the grid forms the glyph :outside; it may also
be interpreted as :distance, which measures how long the path is.

#distance

A bent line along the outer hexagon of the grid.  The same glyph mirrored
and bent toward the inside forms :path.

#outside

A bent line along the outer hexagon of the grid.  In contrast, its antonym :inside
is a bent line along the inner rectangle.

#inside

A bent line along the inner rectangle of the grid.  Its antonym :outside, in contrast,
is a bent line along the outer hexagon.

#grow

Essentially :gain mirrored vertically, with an extra segment emphasizing ascent.
Attested only as a single-glyph phrase.

#reduce

Essentially :lose mirrored vertically, with an extra segment emphasizing decline.
Attested only as a single-glyph phrase.

#share

The glyph for :share can be thought of as a squashed, wider version of :have &mdash;
which perhaps signifies distributing possessions to a wider group.
