<!-- Descriptions used in each glyph's main entry page. -->

#accept

A triangle with the point down, in the same direction as :self.

#not

Derived from the symbol for the &ldquo;not&rdquo; operator from Boolean algebra (&not;).

#simple

A single short line in contrast to the zigzag of :complex.

#complex

A zigzag in contrast to the single line of :simple.

#imperfect

This glyph is derived from the perfect bowtie of :truth, with two segments missing.

<p>Note that :imperfect can be impossible to draw correctly without realizing that
there's a hidden fifth segment between the top right and bottom left.  For more
information please refer to <a href="https://plus.google.com/+ErinTurowski/posts/J2UP5bYo9Ey">this Google Plus post</a>.

#path

A bent line representing a possibly circuitous path.

<p>The glyph can be translated to the bottom right to form :destination.

<p>A mirror image of it along the outer hexagon of the grid forms the glyph :outside; it may also
be interpreted as :distance, which measures how long the path is.

#destination

A bent line along the outer hexagon of the grid.

<p>The glyph can be translated to the middle to form :path.

<p>A mirror image of it forms the glyph :distance/:outside.

#distance

A bent line along the outer hexagon of the grid.  It can be mirrored to form
two other glyphs: :path and :destination.

#outside

A bent line along the outer hexagon of the grid.  In contrast, its antonym :inside
is a bent line along the inner rectangle.

#inside

A bent line along the inner rectangle of the grid.  Its antonym :outside, in contrast,
is a bent line along the outer hexagon.

#grow

Essentially :gain mirrored vertically, with an extra segment emphasizing ascent.

#reduce

Essentially :lose mirrored vertically, with an extra segment emphasizing decline.
Attested only as a single-glyph phrase.

#share

The glyph for :share can be thought of as a squashed, wider version of :have &mdash;
which perhaps signifies distributing possessions to a wider group.

#unbounded

The glyph for :unbounded starts with :search and goes counter-clockwise around
the hexagonal grid.  Notice that it also resembles an infinite spiral starting
from the origin, and that it uses all the points in the grid.

#intelligence

The glyph for :intelligence is almost a mirror image of :difficult.
It is also almost a vertical mirror image of :consequence.

#difficult

The glyph for :difficult is almost a mirror image of :intelligence.  It is
also almost a mirror image of :consequence.

#technology

The glyph for :technology looks like a combination of :truth and :future, with
the right side of the bowtie removed.

#nzeer

Note that the glyphs for :nzeer and :resistance differ by only one moved segment.

#resistance

Note that the glyphs for :nzeer and :resistance differ by only one moved segment.

#adapt

The mirror image of :adapt is :save, perhaps implying that :save means resistance to change.

<p>Overlaying the two glyphs :adapt and :save yields :worth.

#save

The mirror image of :save is :adapt, perhaps implying that :save means resistance to change.

<p>Overlaying the two glyphs :adapt and :save yields :worth.

#interrupt

This glyph is composed of :clear and :before, which possibly means an interruption stops
something that is in progress; this can also be seen in the shape of the glyph itself.

#mystery

Note that :mystery is composed of :old and a yet-to-be-named glyph that occupies the heavens.

#victory

The kite-shaped glyph joins heaven and earth, and may be thought of as a composition between
:me/:i and a yet-to-be-named triangular glyph in the heavens.

#live-again

This glyph is composed of the left part of :again and the right part of :live.

#worth

This glyph is shaped like the letter W (the first letter of "worth), which might be intentional.

<p>It also appears to be :adapt and :save overlaid on top of each other.

#presence

The glyph :presence appears to be a composite of :destiny and :human.

#consequence

The vertical mirror image of :consequence is almost :intelligence, perhaps implying that
intelligence has its own consequence.  The horiziontal mirror image of :consequence is almost
:difficult, which may mean consequences are difficult to take.

<p>It also looks like :destroy with the middle jutting out.

#toast

This was part of an <a href="https://twitter.com/ingress/status/1112429391185883136">April Fool's 
event</a> in 2019, in which all glyph sequences had their glyphs replaced with :toast.

#nemesis

This was part of an <a href="https://twitter.com/ingress/status/1149710089038811136">event in July 2019</a>
whereby glyph sequences for all level 1 portals were replaced with the :nemesis glyph.

#osiris

This was part of the <a href="https://www.facebook.com/Ingress/photos/a.463739937007011/1719065731474419/?type=3">Osiris Sequence</a>
of anomalies from 2018-2019, and evokes the <a href="https://en.wikipedia.org/wiki/Eye_of_Providence">Eye of Providence</a>.
